@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');


body {
	font-family: 'Quicksand', sans-serif;
}


h1 {
	font-weight: 700;
	color: white;
}

h2 {
	font-weight: 600;
}

p {
	font-weight: 300;
}